<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/css/bootstrap.css">
  <title>A Web Page</title>
</head>
<body class="container">
  <nav class="text-center mb-5"><a href="/">Home</a> | Projects | <a href="/contact">Contact</a></nav>
  <main class="container">
    <h1 class="text-center mb-5">Here are some projects of mine!</h1>
    <div class="container border">
      @{
        for (int i = 0; i < 4; i++)
        {
          <div class="container d-inline-flex">
            <div class="col-2">
              <img src="https://via.placeholder.com/100" alt="Project Pic">
            </div>
            <div class="col-10 mb-2">
              <h3>Cool thing!</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit maxime deserunt, optio maiores dicta veniam eum facilis totam. Veniam dolorem provident, eos reprehenderit expedita animi vero vitae quibusdam repudiandae error.</p>
            </div>
          </div>
        }
      }
    </div>
  </main>
</body>
</html>