<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .c {
      color: red;
    }
  </style>
</head>
<body>
  <h1>Here are some delicious foods!</h1>
  @{
    string[] foods = {"Apple Pie", "Burritos", "Clams Casino", "Donuts"};

    foreach (string food in foods)
    {
      if (food[0] == 'C')
      {
        <p class="c">@food</p>
      }
      else
      {
        <p>@food</p>
      }
    }
  }
</body>
</html>